<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
       {% if title %}
       <title>{{ title }} - Tutor Manager</title>
       {% else %}
       <title>Tutor Manager</title>
       {% endif %}
      {% block head %} {% endblock %}
      
    </head>
    <body>
         <!-- LEFT SIDE OF NAVBAR -->
         <table width=100% class="navbar">
            <tr>
            <div>
               {% if not current_user.is_authenticated %}
               <th width=10%><a href="/">Home</a></th>
               {% else %}
               <th width=10%><a href="/home">Home</a></th>
               <th width=10%><a href="/students">Students</a></th>
               <th width=10%><a href="/employees">Employees</a></th>
               <th width=10%><a href="/analytics">Analytics</a></th>
               <th width=10%><a href="/centerResources">Subjects and Worksheets</a></th>
               {% endif %}
            </div>
            <th></th>
            <!-- RIGHT SIDE OF NAVBAR -->
            <div style="display: flex; justify-content: flex-end">
                  {% if not current_user.is_authenticated %}
                  <th width=10%><a href="/login">Sign in</a></th>
                  {% else %}
                  <th width=10%><a href="/logout">Logout</a></th>
                  {% endif %}
            </div>
            </tr>
         </table>

    {% block content %}{% endblock %}

       {% with messages = get_flashed_messages() %}
         {% if messages %}
            <div class="center">
               {% for message in messages %}
                  <p class="ErrorMessage">{{ message }}</p>
              {% endfor %}
            </div>
         {% endif %}
       {% endwith %} 

    </body>
</html>