{% extends "base.html" %}
 
{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1>Employees</h1>
    <div>
        <table>
            <tr><th></th><th>Name</th><th>Job Title</th></tr>
            {% for employee in employees %}
            <tr>
                <td><a href="/deleteEmployee/{{ employee.id }}">Delete</a></td><td>{{ employee.name }}</td><td>{{ employee.jobTitle }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <button id="addButton" onclick="showForm()">Add Employee</button>
    <form action="" method="post" id="addEmployeeForm">
        {{ form.hidden_tag() }}
        <hr/>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.jobTitle.label }}<br>
            {{ form.jobTitle(size=32) }}
        </p>
        
        <p>{{ form.submit() }}</p>
        <button onclick="hideForm()">Cancel</button>
    </form>
</div>
<script>
    hideForm();
    function showForm() {
        var form = document.getElementById("addEmployeeForm");
        var addButton = document.getElementById("addButton");
        form.style.display = "block";
        addButton.style.display = "none";
    }

    function hideForm() {
        var form = document.getElementById("addEmployeeForm");
        var addButton = document.getElementById("addButton");
        form.style.display = "none";
        addButton.style.display = "block";
    }

</script>
{% endblock %}