{% extends "base.html" %}
 
{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1>Employees</h1>
    <div>
        <table>
            <tr><th></th><th>Name</th><th>Job Title</th></tr>
            {% for employee in employees %}
            <tr>
                <td><a href="/deleteEmployee/{{ employee.id }}">Delete</a></td><td>{{ employee.name }}</td><td>{{ employee.jobTitle }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <button id="Button" onclick="showForm()">Add Employee</button>
        <form action="" method="post" id="addEmployeeForm">
            {{ form.hidden_tag() }}<br>

            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            
            {{ form.jobTitle.label }}<br>
            {{ form.jobTitle(size=32) }}<br>
            
            {{ form.submit() }}<br>
            <button onclick="hideForm()">Cancel</button>
        </form>
    </div> 
</div>
<script>
    hideForm();
    function showForm() {
        var form = document.getElementById("addEmployeeForm");
        var Button = document.getElementById("Button");
        form.style.display = "block";
        Button.style.display = "none";
    }

    function hideForm() {
        var form = document.getElementById("addEmployeeForm");
        var Button = document.getElementById("Button");
        form.style.display = "none";
        Button.style.display = "block";
    }

</script>
{% endblock %}