{% extends "base.html" %}
 
{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1>Students</h1>
    <div>
        <table>
            <tr><th></th><th>ID</th><th>Name</th><th>Enrollment Date</th></tr>
            {% for student in students %}
            <tr>
            <td><a href="/student/{{ student.id }}">VIEW</a></td>
            <td>{{ student.id }}</td><td>{{ student.name }}</td><td>{{ student.enrollDate }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <button id="Button" onclick="showForm()">Add Student</button>
        <form action="" method="post" id="addStudentForm">
            {{ form.hidden_tag() }}
            
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            
            {{ form.enrollDate.label }}<br>
            {{ form.enrollDate(size=32) }}<br>
            
            {{ form.submit() }}<br>
            <button onclick="hideForm()">Cancel</button>
        </form>
    </div>
</div>
<script>
    hideForm();
    function showForm() {
        var form = document.getElementById("addStudentForm");
        var Button = document.getElementById("Button");
        form.style.display = "block";
        Button.style.display = "none";
    }

    function hideForm() {
        var form = document.getElementById("addStudentForm");
        var Button = document.getElementById("Button");
        form.style.display = "none";
        Button.style.display = "block";
    }

</script>
{% endblock %}