{% extends "base.html" %}
 
{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1>Assignments</h1>
    <div>
        <p>Average Score: {{ avgScore }}</p>
        <table>
            <tr><th></th><th>Worksheet</th><th>Due Date</th><th>Delivered Date</th><th>Score</th></tr>
            {% for assignment in assignments %}
            <tr>
            <td><a href="/assignment/{{ studentID }}/{{ assignment.id }}">EDIT</a></td>
            <td>{{ assignment.title }}</td><td>{{ assignment.due }}</td><td>{{ assignment.delivered }}</td><td>{{ assignment.score }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <button id="Button" onclick="showForm()">Add Assignment</button>
        <form action="" method="post" id="assignmentForm">
            {{ form.hidden_tag() }}

            {{ form.worksheet.label }}<br>
            {{ form.worksheet }}<br>
            
            {{ form.dueDate.label }}<br>
            {{ form.dueDate }}<br>
            
            {{ form.deliveredDate.label }}<br>
            {{ form.deliveredDate }}<br>

            {{ form.score.label }}<br>
            {{ form.score(size=16) }}<br>
        
            {{ form.submit() }}<br>
            <button onclick="hideForm()">Cancel</button>
        </form>
    </div>
</div>
<script>
    hideForm();
    function showForm() {
        var form = document.getElementById("assignmentForm");
        var Button = document.getElementById("Button");
        form.style.display = "block";
        Button.style.display = "none";
    }

    function hideForm() {
        var form = document.getElementById("assignmentForm");
        var Button = document.getElementById("Button");
        form.style.display = "none";
        Button.style.display = "block";
    }

</script>
{% endblock %}