/* 
  COLOR PALLETTE
  Main     #F6F7EB  Hover  #E7EACA
  Accent   #E71D36  Hover  #D31D48   Active  #BF1D5A
  Tertiary #107E7D  Hover  #10737D   Active  #10687D
  Main txt #333333
 */
body {
  background: #F6F7EB;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  margin-top: 4em;
  padding: 0 0 100px 0;
}

p {
  font-size: 1em;
  color: #333333;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: #E71D36;
  margin-left: 5%;
}

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5em;
  color: #107E7D;
  margin-left: 5%;
}

label {
  margin: 20px 0 0 5%;
}

form {
  margin-top: 20px;
}

input[type="submit"],
form button,
#Button {
  background-color: #E71D36;
  border-radius: 8px;
  margin: 10px 0 10px 5%;
  padding: 10px 0;
  border: none;
  justify-content: center;
  color: #F6F7EB;
  width: 120px;
}

input[type=submit]:hover,
form button:hover,
#Button:hover {
  background-color:#D31D48;
}

input[type=submit]:active,
form button:active,
#Button:active {
  background-color:#BF1D5A;
}

input[type=password],
input[type=text],
input[type=date],
select {
  width: 18em;
  padding: 5px 5px;
  margin: 10px 0 10px 5%;
  box-sizing: border-box;
  border: 1px solid #107E7D;
  border-radius: 4px;
  font-family: inherit;
}

input[type=password]:active,
input[type=text]:active,
input[type=date]:active,
select:active {
  border: 3px solid#10737D;
  transition: all 1.2s;
}

.remember label {
  margin-left: 0;
}

.navbar {
  background-color: #E71D36;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  border-spacing: 0;
}

.navbar-left {
 flex: 1 1 250px;
 /* display: flex;
 align-items: center;
 height: inherit; */
}

/* .navbar-right {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
  height: inherit;
 } */

.navbar a {
  background-color: #E71D36;
  color: #F6F7EB;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  font-size: 1em;
  font-weight: bolder;
  max-height: 3em;
}

.navbar a:hover {
  text-decoration: none;
  background-color: #D31D48;
  color: #E7EACA;
  transition: all 0.6s;
}

.Forms table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  font-family: sans-serif;
  width: 90%;
  min-width: 400px;
}

.Forms table th {
  background-color: #E71D36;
  color: #F6F7EB;
  text-align: left;
}

.Forms table th:first-of-type {
  border-top-left-radius: 12px;
}

.Forms table th:last-of-type {
  border-top-right-radius: 12px;
}

.Forms table th,
.Forms table td {
  padding: 12px 15px;
}

.Forms tr {
  border-bottom: thin solid #107E7D;
}

.Forms tr:nth-last-of-type(even) {
  background-color: #E7EACA;
}

.Forms tr:last-of-type {
  border-bottom: thin solid #10737D;
}

.Forms a {
  font-weight: bold;
  color: #E71D36;
  text-decoration: none;
}

.Forms a:hover {
  color: #10737D
}